// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.

body {
  background: #BFD1E5;
  text-align: center;
}

h1,p{
  font: courier;
  font-weight: lighter;

}
.form{
  font-size: 19px;
  background-size: 100px;
}

.btn{
padding: 15px;
background-color: blue;
color: white;
border-radius: 12px;

}
